#desktop {
	background-color: #0E6E6C;
	width: 100%;
	height: 100%;
}

#icons {
	position: absolute;
	top: 0px;
	left: 0px;
}

.icon {
	width: 80px;
	padding-top: 10px;
	text-align: center;
}

.iconText {
	color: white;
	font-size: 12px;
	font-weight: 300;
	font-family: "Microsoft Sans Serif", "MS Sans Serif", Arial, sans-serif;
}

#explorer {
	width: auto;
	height: auto;
	position: relative;
	z-index: 5;
}

#taskManager {
	width: auto;
	height: auto;
	position: relative;
	left: 200px;
	top: 40px;
	z-index: 10;
}

#taskbar {
	clear: both;
    position: absolute;
    z-index: 10;
    height: 27px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #CAC6BC;
}

#taskbarAccent {
	height: 1px;
	width: 100%;
	background-color: white;
}

.taskbarItem {
	display: inline-block;
}

#startButton {
	float: left;
}

#clock {
	float: right;
}
