html {
    background-color: #222128;
}

#content {
	width: 100%;
	text-align: center;
}

#scores {
	font-family: 
	margin: auto;
	background-color: white;
	text-align: center;
	width: 40%;
	margin-top: 20%;
	border: 3px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
}

p {
	font-size: 16px;
	font-weight: bold;
	font-family: "MS Sans Serif";
}

#back {
	width: 80px;
	margin: auto;
}