html {
    background-color: #222128;
}

body {
	overflow: hidden;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

#content {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#scores {
	margin: auto;
	color: white;
	position: relative;
	width: 50%;
	top: 10%;
	border: 4px solid white;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(0,0,0,0.4);
}

span {
	font-size: 1.3em;
	font-family: 'Lato', sans-serif;
	line-height: 2.5em;
}

.name {
	font-weight: 800;
	margin-left: 30px;
}

.value {
	font-weight: 400;
	margin-right: 30px;
	float: right;
}

#back {
	position: absolute;
	top: 10%;
	left: 5%;
	width: auto;
	height: auto;
	font-size: 1.3em;
	font-family: 'Lato', sans-serif;
	color: white;
}

a {
	text-decoration: none;
}

.window {
	background:url('windows.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 75px;
	height: 56px;
	position: absolute;
	top: -56;
	left: 0;
	z-index: 0;
}