<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,900,300' rel='stylesheet' type='text/css'>

    <style>
        body {
            background-color: #222128;
        }

        .container {
            position: relative;
            width: 100%;
            height: auto;
            min-height: 100%;
        }

        .sidebar {
            background-color: #00bad6;
        }

        .title {
            font-family: 'Lato', sans-serif;
        }

        .description {
            font-family: 'Merriweather', serif;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>New Experience</h2>
        </div>

        <div class="main">
            <input type="text" class="title" name="experience-title" value="New Experience" />

            <input type="text" class="description" name="experience-title" value="Enter a description about your experience..." />

            <div class="settings">

            </div>
        </div>
    </div>
</body>
</html>