/** Window Flavored CSS **/

$move-time: 0.2s;
$bg-color: #bdbdbd;

.hidden {
	display: none;
}

.window {
	position: absolute;
	transition: left $move-time, top $move-time;
	background-color: $bg-color;
	border: 2px solid $bg-color;
}