html {
    background: url(https://lh5.ggpht.com/IDBoc7HlkfauHstRiEyJlp5MQL0oRZ3xbVYv8DNtQoCbogm42bSjYhIZCRu1uSHQ3RQ=h900) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#statue {
    position: absolute;
    left: 0;
}

#contentDiv2 {
    z-index: 1;
    text-align:center;
}

#options {
    opacity: 0;
    position: absolute;
    left: 55%;
    top: 100px;
}

ul
{
    list-style-type:none;
    padding: 0;
    margin: 0;
    padding-left: 0pt;
}
