
#credit1, #credit2, #credit3, #credit4 {
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000000;
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
}

.credit {
    font-weight: 400;
    font-family: Verdana ;
}

.person {
    font-weight: 800;
    font-family: Verdana;
}

video {
    z-index: 0;
}