
#statue {
    position: absolute;
    left: 0;
}

#contentDiv2 {
    background-image: url("http://upload.wikimedia.org/wikipedia/en/9/91/Windows_95_Desktop_screenshot.png");
    background-size: 100%;
    z-index: 1;
    text-align:center;
}

#options {
    opacity: 0;
    position: absolute;
    left: 55%;
    top: 100px;
}

ul
{
    list-style-type:none;
    padding: 0;
    margin: 0;
    padding-left: 0pt;
}
