
#statue {
    position: absolute;
    left: 0;
}

#contentDiv2 {
    z-index: 1;
    text-align:center;
}

#options {
    opacity: 0;
    position: absolute;
    left: 55%;
    top: 100px;
}

.killbillcanvas {
    width: 100%;
    height: 100%;
}

ul
{
    list-style-type:none;
    padding: 0;
    margin: 0;
    padding-left: 0pt;
}
