.container {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.holder {
	position: absolute;
	width: 618px;
	height: 411px;
	top: 45px;
	left: 62px;
}

.hidden {
	display: none;
}

.clearfix:after {
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 content: " ";
	 clear: both;
	 height: 0;
	 }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.dragbar {
	width:100%;
	height: 20px;
	position:relative;
	background-color: #0200a8;
	color: white;
	font-family: 'MS Sans Serif', sans-serif;
	font-size: .8em;
	padding: 2px;
	box-sizing: border-box;
}

.dragbar .right {
	float: right;
}

.dragbar:hover {
	cursor:pointer;
}

.button {
	font-family: sans-serif;
	width: 16px;
	height: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #c0c7c8;
	color: black;
}

.button:hover {
	cursor: pointer;
}

.basic {
	position: absolute;
	height: auto;
	width: auto;
	background-color: #bdbdbd;
	border: 3px solid #bdbdbd;
}